.round-button {
    border-radius: 50%;
    position: fixed;
    height: 80px;
    width: 80px;
    color: white;
    background: var(--gradientColor);
            &:hover{
              background: var(--gradientColor1);
            }
}