.datcho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 50px;
    background-color: rgb(250, 233, 233);
      .img{
        position: absolute;
        z-index: -1;
      }
}
.maybay{
    background: linear-gradient(
        to right,
        hsl(187, 85%, 43%),
        hsl(199, 100%, 33%)
      );
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          .datghe{
                width: 100%;
                padding: 1rem;
                .hangghe {
                    display: flex;
                    justify-content:space-between;
                    padding: 1rem 0;
                    color: yellow;
                    .hangtrai{
                        width: 40%;
                        display: flex;
                        justify-content: space-around;
                    }
                    .hangphai{
                        width: 40%;
                        display: flex;
                        justify-content: space-around;
                    }
                }
          }
}
.phothong {
  margin-top: 20px;
     .hangghe {
      color: white !important;
     }
}
.hangghe h3 {
  color: black;
}
.datcholeft {
  padding: 50px;
}
.datcholeft h4 {
  margin-left: 20px;
  font-size: 1rem;
  margin-top: 8px;
}
.ghichu1,.ghichu2,.ghichu3 {
  display: flex;
}
.ghichu1 i {
  color:yellow;
}
.ghichu2 i{
  display: flex;
  color: white;
}
.ghichu3 i {
  color: red;
}