.footer{
  width: 100%;
  position: none;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: var(--gradientColor);
    .videoDiv{
      position: absolute;
      height: 100%;
      width: 100%;

      .video{
         height: 100%;
         object-fit: cover;
      }
      &::after{
        content: '';
        position: absolute;
        background-color: rgba(10, 84, 107, 0.307);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        mix-blend-mode: multiply;
      }
    }
    .secContent{
       width: 100%;
       height: max-content;
       padding: 2rem initial;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       margin: auto;
       row-gap: 2rem;
       z-index: 100;

       .contactDiv{
         justify-content: space-between;
         flex-direction: column;
         gap: 1rem;

          .text{
             .small{
                font-size: 11px;
                font-weight: 400;
                color: white;
             }
             .h2{
                 color: white;
                 font-size: 1.8rem;
             }
          }
       }
       .inputDiv{
        width: 40%;
        gap: 1rem;
        flex-direction: column;

        .btn{
          width: 100%;
          justify-content: center;
          color: var(--whiteColor);
          font-weight: 500;
          gap:.5rem;
            .icon{
              font-size: 18px;
            }
        }
        .nn{
          width: 100%;
          justify-content: center;
          color: var(--whiteColor);
          font-weight: 500;
          gap:.5rem;
          background:var(--gradientColor);
            .icon{
              font-size: 18px;
            }
        }
      }
      .footerCard{
        position: relative;
        padding: 1rem 1rem 4rem;
        border-radius: 1rem;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;

         .footerIntro{
           flex-basis: 50%;
           justify-content: center;
           align-items: flex-start;
           flex-direction: column;
           row-gap: .5rem;
           width: 100%;
            .footerSocials{
               font-size: 20px;
               width: 100%;
               text-align: center;
               margin-top: 10px;
            }
         }

         .icon{
           font-size: 25px;
           color: white;
           margin-right: 10px;

               &:hover{
                  color: blue;
             }
         }
         .footerLinks{
           flex-basis: 50%;
           width: 80%;
           margin-left: 12%;
           gap: 1rem;
           grid-template-columns: repeat(4,1fr);
           justify-content: space-between;
           margin-top: 50px;
           .linkGroup{
              .groupTitle{
                display: block;
                font-weight: 600;
                margin-bottom: .5rem;
                color: white;
              }

              .footerList{
                font-size: 15px;
                color: white;
                transition: .3s ease-in-out;
                .icon{
                  font-size: 15px;
                }
                &:hover{
                   color: blue;
                   transform: translateX(7px);

                   .icon{
                     color: blue;
                   }
                }
              }
           }
         }
         .footerParagraph{
          color: white;
          text-align: center;
          width: 100%;
         }
      }
    }
}
.footer input{
  width: 100%;
  padding: .5rem .6rem;
  border-radius: 3rem;
  border: 1px solid var(--whiteColor);
  outline: none;
  background-color: antiquewhite;
   &::placeholder{

      opacity: .5;
   }
}
@media screen and (max-width: 900px){

  .footer{
      .secContent{
          .footerCard{
            .footerLinks{
              grid-template-columns: repeat(2,1fr);
            }
          }
      }
  }

}
 .night {
    background-color: black;

      /* Firefox */
      background-image:
          -moz-radial-gradient(circle, #FFFFFF 2px, rgba(248,255,128,.5) 4px, transparent 40px),
          -moz-radial-gradient(circle, #FFFFFF 1px, rgba(255,186,170,.4) 3px, transparent 30px),
          -moz-radial-gradient(ellipse, rgba(255,255,255,.9) 1px, rgba(251,255,186,.3) 2px, transparent 40px),
          -moz-radial-gradient(ellipse, rgba(255,255,255,.4), rgba(253,255,219,.2) 1px, transparent 30px);

      /* Webkit */
      background-image:
          -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 40, from(white), color-stop(0.1, rgba(248,255,128,.5)), to(transparent)),
          -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, rgba(255,186,170,.4)), to(transparent)),
          -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
          -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));

      /* Background Attributes */
      background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
      background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;

      /* Animation */
      animation-name: movement;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      /* Firefox */
      -moz-animation-name: movement;
      -moz-animation-duration: 5s;
      -moz-animation-timing-function: linear;
      -moz-animation-iteration-count: infinite;

      /* Webkit */
      -webkit-animation-name: movement;
      -webkit-animation-duration: 5s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
  }
  @keyframes movement
  {
      from {
              background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
      }
      to {
              background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
      }
  }
  @-moz-keyframes movement
  {
      from {
              background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
      }
      to {
              background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
      }
  }
  @-webkit-keyframes movement
  {
      from {
              background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
      }
      to {
              background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
      }
  }
