@keyframes border-color {
    0% {
        border-color: #33ffb1;
    }

    50% {
        border-color: rgb(0, 255, 217);

    }

    100% {
        border-color: #33ccff;
    }
}

.dat-ve {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid;
    animation-duration: 5s;
    animation-name: border-color;
    animation-iteration-count: infinite;
}

.dat-ve:hover {
    animation-play-state: paused;
    background: linear-gradient(to bottom, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    color: white
}

.hover-ds:hover {
    border: 1px solid #005f6e
}

.card-bo {
    padding: 0.5rem;
}

strong {
    color: #005f6e;
}