.form-wrapper {
    background: url("../ross-parmly-rf6ywHVkrlY-unsplash.jpg") no-repeat;
    min-height: 100vh;
}
.change-form {
    width: 33vw;
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.send-button {
    width: 100%;
}