:root {
  --cardBG: rgb(251, 244, 246);
  --textColor: hsl(240, 4%, 36%);
  --whiteColor: hsl(0, 0%, 100%);
  --blueColor: hsl(227, 86%, 50%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --gradientColor1: linear-gradient(
    to right,
    hsl(187, 95%, 31%),
    hsl(199, 97%, 26%)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}
.logoDiv a {
  color: white;
}
li {
  list-style: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

i {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.mg-top-60 {
  margin-top: 60px !important;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.5rem 1rem;
  /* border-radius: 3rem; */
  margin: 0.25em;
  border: none;
  outline: none;
  cursor: pointer;
}
.nn {
  padding: 0.6rem 1.5rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a {
  color: white;
  font-weight: 500;
  color: blue;
}

img,
video {
  width: 100%;
  height: auto;
}

.navbar {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
